:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;

    color: #0F1626;
    background-color: #F5F5F5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Centralize the entire content */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f0f2f5; */
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.title {
    text-align: center;
}

/* @media (prefers-color-scheme: light) { */
/*     :root { */
/*         color: #213547; */
/*         background-color: #ffffff; */
/*     } */
/*     a:hover { */
/*         color: #747bff; */
/*     } */
/*     button { */
/*         background-color: #f9f9f9; */
/*     } */
/* } */
